<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.shu.skytorif.mapper.ObjOntLatMapper">


	<select id="queryAllObjOntLatList" resultType="objOntLat">
		select * from
		obj_ont_lat
	</select>

	<select id="queryObjOntLatByOid" parameterType="long"
		resultType="objOntLat">
		select * from obj_ont_lat where oid=#{value}
	</select>

	<select id="queryObjOntLatByLatSid" parameterType="string"
		resultType="objOntLat">
		select * from obj_ont_lat where latsid=#{value}
	</select>

	<select id="queryObjOntLatByLatName" parameterType="string"
		resultType="objOntLat">
		select * from obj_ont_lat where latname=#{value}
	</select>

	<insert id="createObjOntLat" parameterType="objOntLat"
		useGeneratedKeys="true" keyProperty="oid">
		insert into obj_ont_lat
		(latsid,latname,parentsid,latnote)
		values(#{latSid},#{latName},#{parentSid},#{latNote})
	</insert>

	<delete id="removeObjOntLat" parameterType="long">
		delete from
		obj_ont_lat where oid=#{value}
	</delete>

	<update id="updateObjOntLat" parameterType="objOntLat">
		update obj_ont_lat
		set
		latsid=#{latSid},latname=#{latName},parentsid=#{parentSid},latnote=#{latNote}
		where oid=#{oid}
	</update>

	<select id="queryObjOntLatSonByLatSid" parameterType="string"
		resultType="objOntLat">
		select * from obj_ont_lat where parentsid=#{value}
	</select>

	<delete id="removeObjOntLatByLatSid" parameterType="string">
		delete from
		obj_ont_lat where latsid=#{value}
	</delete>
</mapper>